/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */
*{
    font-family: sans-serif;}

body {
	background-color: #81BEF7;
    
}

h1 { 
	color: #black;
    text-align: center;
    
    
        
    
}

h2 {

}

p { text-align: center;

}

img {
    display:block;
    margin-left:auto;
    margin-right:auto;

}


/* Container or module styles probably come next. */

header {

}

nav { text-align: center;
    color: #black;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 55px;
    margin-top: 20px;
    box-sizing: padding-box;

}

nav a { 

}

section {

}

aside {

}

footer {

}

/* Class and ID styles come last because they are the most specific. */

#copyright { 

}